doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet' href='/css/style.css')
    title Moviegram
  body
    .container
      header
        nav.flex-nav
          .logo-title
            h1 Moviegram
          .formbox
            form#form--movie
              input#movie(type='text' name='movie' placeholder='Search')
  
      main
        #movie-card-list
          each movie in data
            .movie-card(style=`background-image: url(${movie.Poster})`)
              .color-overlay
                .movie-content
                  .movie-header
                    a(href=`/movie/${movie.Title}`)
                      h1.movie-title=movie.Title
                    h4.movie-info=`${movie.Year}`

    script(src='/js/bundle.js')