@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800');

body {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

a {
    text-decoration: none;
    color: white;
}



.logo-title {
    font-family: 'Zen Tokyo Zoo', cursive;
    color: white;
    font-size: 25px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.flex-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

input {
    text-align: center;
    border: 0;
    outline: none;
    width: 200px;
    background-color: transparent;
}

select {
    border: none;
}


.formbox {
    display: inline;
    border: 2px solid #ccc;
    border-radius: 100px;
    padding: 10px 20px;
    border: 1px solid green;
}

.main-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.movie-card {
    width: 80%;
    margin: 0 auto;
    /* margin-top: 50%; */
    /* margin-bottom: 50%; */
    display: flex;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

.movie-poster {
    width: 40%;
}

.movie-poster img {
    max-width: 60%;
    height: 100%;
}

.movie-details {
    max-width: 60%;
    display: block;
    /* height: 20px; */
}

/*  main of overview.html */
 html {
	 box-sizing: border-box;
}
 *, *::before, *::after {
	 box-sizing: inherit;
}
 html, body {
	 width: 100%;
	 height: 100%;
}
 body {
	 /* background-color: #dce1e5; */
	 font-family: 'Montserrat', helvetica, arial, sans-serif;
	 font-size: 14px;
	 color: #cfd6e1;
	 line-height: 1.5;
	 font-weight: 400;
	 overflow-x: hidden;
}
 * {
	 transition: 0.4s;
}
 a {
	 text-decoration: none;
}
 #movie-card-list {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
 .movie-card {
	 background-size:contain;
	 background-repeat: no-repeat;
	 min-width: 35%;
	 max-width: 45%;
	 height: 320px;
	 display: block;
	 margin: 8vh auto;
	 border-radius: 8px;
	 box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}
 .movie-card:nth-child(2) {
	 background-image: url("http://www.blastr.com/sites/blastr/files/back-to-the-future-part-ii-original.jpg");
}
 .movie-card:nth-child(3) {
	 background-image: url("http://www.dvdactive.com/images/reviews/screenshot/2011/5/akirabdcap8_original.jpg");
}
 .color-overlay {
	 width: 100%;
	 height: 100%;
	 border-radius: 8px;
	 background: linear-gradient(to right, rgba(42, 159, 255, .2) 0%, rgba(33, 33, 32, 1) 60%, rgba(33, 33, 32, 1) 100%);
	 background-blend-mode: multiply;
}
 h1, h2, h3 {
	 font-family: 'Montserrat', helvetica, arial, sans-serif;
	 text-transform: uppercase;
	 letter-spacing: 2px;
	 line-height: 1;
	 font-weight: 400;
}
 .movie-content {
	 width: 50%;
	 display: block;
	 position: relative;
	 float: right;
	 padding-right: 1em;
}
 .movie-content .movie-title {
	 color: #fff;
	 margin-bottom: 0.25em;
	 opacity: 0.75;
}
 .movie-content .movie-info {
	 text-transform: uppercase;
	 letter-spacing: 2px;
	 font-size: 0.8em;
	 color: #2a9fff;
	 line-height: 1;
	 margin: 0;
	 font-weight: 700;
	 opacity: 0.5;
}
 .movie-content .movie-header {
	 margin-bottom: 2em;
}
 .movie-content .movie-desc {
	 font-weight: 300;
	 opacity: 0.84;
	 margin-bottom: 2em;
}
 .btn {
	 padding: 0.8em 2em;
	 background-color: rgba(255, 255, 255, .2);
	 color: rgba(255, 255, 255, 1);
}
 .btn-outline {
	 background-color: transparent;
	 border: 3px solid #fff;
}
 .btn::before {
	 font-family: 'Material Icons';
	 content: '\e037';
	 vertical-align: middle;
	 font-size: 1.5em;
	 padding-right: 0.5em;
}
 .btn-outline:hover {
	 border-color: #2a9fff;
	 color: #2a9fff;
	 box-shadow: 0px 1px 8px 0px rgba(245, 199, 0, .2);
}
 .movie-share {
	 padding: 1em;
	 display: inline-block;
	 width: 15%;
}
 .movie-share__icon i {
	 font-size: 1.2em;
	 margin-left: 0.5em;
	 color: #fff;
	 mix-blend-mode: lighten;
	 opacity: 0.4;
}
 .movie-share__icon i:hover {
	 opacity: 1;
	 mix-blend-mode: lighten;
}
 @media (max-width: 1000px) {
	 .movie-content {
		 width: 50%;
		 max-width: 95%;
	}
}
 @media (max-width: 800px) {
	 .movie-card {
		 width: 95%;
		 max-width: 95%;
	}
}
 @media (max-width: 600px) {
	 .movie-card, .movie-card:nth-child(2), .movie-card:nth-child(3) {
		 background-position: 50% 0%;
		 background-size: contain;
		 height: 400px;
	}
	 .color-overlay {
		 background: linear-gradient(to bottom, rgba(42, 159, 255, .2) 0%, rgba(33, 33, 32, 1) 60%, rgba(33, 33, 32, 1) 100%);
	}
	 .movie-content {
		 margin-top: 4.2em;
		 width: 90%;
	}
	 .movie-share {
		 display: block;
		 width: 100%;
	}
}